/* Global font */
* {
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px 240px 0px 240px;
    flex-grow: 1;
}

.lab-card {
    background-color: #f0f0f0;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px 100px 20px 100px;
    text-align: center;
}

.lab-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.lab-card button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 25px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.lab-card button:hover {
    background-color: #ddd;
}

/* Footer Styles */
footer {
    text-align: center;
    margin: 20px 0;
    font-size: 0.9em;
    color: #666;
}

  /* Top Menu */
  #top-menu{
    background-color: #4977B5;
    color: white;
  }

  p#top-menu{
    padding:12px 12px 6px 12px;
    margin:0px;
  }
