/* Golbal font */
* {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Top Menu */
#top-menu{
  background-color: #4977B5;
  color: white;
}

/* Title menu */
.title_cybernerd a{
  font-size: 36px;
  color:#4977B5;
  text-decoration: none;
}

p#top-menu{
  padding:12px 12px 6px 12px;
}

#menu_font{
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.menu_li a{
	text-decoration: none;
	padding: 0.2em 0.6em;
	border-bottom: 2px solid #ccc;
  color: black;
}

hr {
  border: 1px solid lightgray;
}

nav{
    clear:both;
}

.menu_li :hover {
	background-color: lightblue;
	border-color: darkblue;
}

header {
    background-color: #f8fafe;
  } 
  /* Use space-between */
  header {
    display: flex;
    justify-content: space-between; 
    padding: 2.0rem;
  }
  #menu_ul{
    display: flex;
    align-items: center;

  }
  .menu_li {
    list-style: none;
    color: darkgray;
    margin-inline: 1rem;
  }
  #menu {
    display:none;
  } 
  .show{
    display:block;
  }
  @media screen and (max-width: 500px){
    #menu {
      display:block;
      padding-inline: 1rem;
    } 
    nav{
      display:none; 
      position: absolute;
      background-color: darkblue;
      right: 0rem;
      top: 0rem;
      height: 100vh;
      width: 7rem;
    }
    #menu_ul{ 
      margin-top: 3rem;
      flex-direction: column;
      row-gap: 5rem;
    }
    
  }
  *, *::before, *::after {
      box-sizing: border-box;
      list-style-type: none;
      text-decoration: none;
      padding: 0;
      margin: 0;  
  }

/* Menu login button */
  .menu-login-button{
    background-color: #4977B5;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
  }

  
a.menu-login-button{
  text-decoration: none;
}

li.button_menu_li {
  list-style: none;
}

/* End of Menu */



/* Sizing the image */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
  max-width: 220px;
  height: auto;
}

.image-left, .image-right
{
	margin: 1em 0;
}

@media (min-width: 20em)
{
	.image-left, .image-right
	{
		display: flex;
		align-items: center;
    margin-left: 100px;
    margin-right: 100px;
	}

	.image-left img
	{

		margin-right: 1em;
		float: left; /* fallback */
	}

	.image-right img
	{
		order: 1;
		margin-left: 1em;
		float: right; /* fallback */
	}
	
	/* clearfix for fallback */
	.image-left::after,
	.image-right::after
	{
		content: "";
  	display: block;
		clear: both;
	}
}

@media (min-width: 30em)
{
	.image-left img, .image-right img
	{
		flex-shrink: 0;
    margin:0px 50px 50px 50px;
	}
}


.container { 
  position: relative;
  height: //200px;
  border: //3px solid green; 
}


/* Start your journey button */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.buttoncenter {
  border: none;
  color: white;
  padding: 10px 15px 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 100px;
  cursor: pointer;
  align-items: center;
  border-radius: 6px;
}

.button2 {background-color: #4977B5;}

/* H1 */
#image-left-title{
  font-size:2em;
}


/* School cards & about cards */
.cards{

  width:25%;
  height:300px;

  margin:5px;
  display: inline-block;
  text-align: center;
  padding: 15px;
}

.center-cards {
  margin: auto;
  width: 100%;
  background-color: #f8fafe;
  padding: 30px;
  margin-bottom: 3em;
  text-align: center;
  
}

.center-cards h1{
  font-size: 2em;
  margin:10px;
}

.center-cards p{
  margin: 6px
}

.center-cards img, h2{
  margin-bottom:15px;

}



/* TAB */
.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
  margin: 3rem 0;
  background: #f8fafe;
  height: 14.75rem;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #f8fafe;
  border-right: 0.125rem solid #f8fafe;
  color: black;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  background: darkgrey;
  color: black;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

#tab_center_h1{
  text-align: center;
  font-size: 2em;
}

#tabs_copyright{
  margin-bottom: 1.5em;
  margin-top: 2.0em;
}
/* End of TAB */

/* FAQ */
.container h1{
  margin-top: 2.0em;
  margin-bottom: 1.5em;
}

.container h1{
  color: black;
  text-align: center;
  font-size: 2em;
  padding-bottom: 10px;
}

details{
  background-color: #f8fafe;
  color: black;
  //font-size: //1.5rem;
  padding: 3em 10em;
}

summary {
  padding: .5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;  
  transition: height 1s ease;
  border-bottom: 1px solid #aaa;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after{
  content: "\002B";
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

details[open] summary:after{
  content: "\00D7";
}

details[open] div{
  padding: .5em 1em;
}
/* End of FAQ */

/* School card */
.school_cards{
  width:25%;
  height:200px;
  margin:5px;
  display: inline-block;
  text-align: center;
  padding: 15px;
}


/* Contact Us card */
.about_cards{
  width://25%;
  height:200px;
  margin:5px;
  display: inline-block;
  text-align: left;
  padding: 15px;
}

/* Group to combine the background */
.school_faq_background{
  background-color: #f8fafe;
}

/* Customize li element */
li {
  list-style: disc outside none;
  display: list-item;
  margin-left: 1em;
  }

/* Bottom sitemap */
li.sitemap_li{
  list-style: none;
  text-decoration: none;
  padding: 5px 0px 5px 0px;
}

li.sitemap_li a{
  color: black;
}

.button_sitemap_li{
  color: white;
  margin-bottom: 2.0em;
}

/* Menu zoom. Better accessibility */
.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}

/* Animation */
.w3-animate-left{
  position:relative;
  animation:animateleft 3.0s
}

@keyframes animateleft
{
  from
  {left:-300px;opacity:0} 
  to
  {left:0;opacity:1}
}

/* Animation */
.w3-animate-bottom
{position:relative;
  animation:animatebottom 5.0s;
}@keyframes animatebottom
{
  from
  {bottom:-300px;opacity:0} 
  to
  {bottom:0;opacity:1}
}


/* Class for center text */
.text_center{
  text-align: center;
}


/* Button back to top */
.back_to_top_fixed{
position: fixed;
bottom: 0;
right: 0;
width: 150px;
}

.back_to_top{
  text-align: center;
}

/* About Us */
#content_about_us {
  background-color: #f8fafe;
  padding: 0.5rem;
  display: flex;
}

#left,#right {
  background-color: white;
  border: 1px solid lightgray;
  padding: 0.5rem;
  flex-grow: 1;
  color: black;
}

#left{
	width: 50%;
    padding: 30px 0;
    }
    
#left h1, img{
	text-align: center;
    }

#right ul{
  padding-left: 1em;
}
    
#right{
	width: 50%;
    padding: 30px 0;
    }

/* Footer */
footer{
  text-align: center;
}

/* Login.html */
/* Login Page CSS */
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
   background-color: #4977B5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.form_container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

button.cancelbtn a{
  text-decoration: none;
  color: white !important;
}

#login-title{
  text-align: center;
  margin: 2em;
}

#login-form{
  margin-left: 20em;
  margin-right: 20em;
}

/* Enhancements Page */
.enhancements_title_center{
  text-align: center;
  margin: 1em;
  font-size: 2em;
}

.enhancements_button_center {
  border: none;
  color: white;
  padding: 10px 15px 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 100px;
  cursor: pointer;
  align-items: center;
  border-radius: 6px;
}

#enhancements_right{
	width: 50%;
    padding: 2em 2em;
    }

#enhancements_left{
  background-color: white;
  border: 1px solid lightgray;
  padding: 2em 2em;
  flex-grow: 1;
  color: black;
}

#enhancements_right{
  padding: 2em 2em;
  flex-grow: 1;
  color: black;
}

#enhancements_left{
	width: 50%;
    padding: 30px 0;
    }
    
#enhancements_left h1, img{
	text-align: center;
    }

#enhancements_right ul{
  padding-left: 1em;
}

#enhancements_content{
  background-color: #f8fafe;
  padding: 0.5rem;
  display: flex;
  margin: 2em 5em;
}
    
.enhancements_page_directory{
  text-align: center;
}

.enhancements_img_class{
  max-width: 440px;
  padding-top: 3em;
}

.decimal{
  list-style-type: decimal;
}

.enhancements_page_directory_italic{
  font-style: italic;
}

/* KANG JEN PART APPLY.HTML */
/* APPLY.HTML */
/* Styles for the h1 tag */
.formnapply{
    text-align: center;
    color: #333;
    font-weight: bold;
}

/* Styles for the section that closes the form */
.formSection {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

/* Form styles */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

/* To display all the labels as a block
level element */
label {
    display: block;
}

/* To make the edges of the fieldset 
well rounded */
.apDetails{
    border-radius: 4px;
}

/* To make the Applicant Details legend go to the right a bit */
#apDetails1{
    margin-left: 10px;
}

#jobreference{
    padding-right: 12px;
}

/* styles for all of these inputs */
#firstname, #lastname, #dateofbirth, #streetaddress, #suburb, #state, #postcode,
#email, #phonenumber, #otherskillsta {
    width: 96%;
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* To ensure of these inputs fit inside the fieldset */
}

/* styles for the gender fieldset */
.gender{
    width: 96%;
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: flex; /* Display the elements a block level flex container */
    flex-wrap: wrap; /* To ensure the inputs adjusts itself when we are resizing the page */
}

/* same as .gender */
.skills
{
    width: 96%;
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
}

/* To ensure spaces between these few inputs */
#html5, #css3, #javascript, #python, #otherskills{
    margin-right: 20px;
}

/* To ensure spaces between the labels and inputs of above */
#HTML5, #CSS3, #JS, #PY, #OS{
    padding: 3px;
}

/* To ensure the male input is as close to
the left of the fieldset as possible */
#male{
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
}

/* To create some space between the male
and female input */
#female{
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
}

/* Same as the last one but betwwen the
female and prefer not to say input */
#notnormal{
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
}

/* To make the labels bold */
#FN, #LN, #DOB, #SA, #ST, #S, #PC, #ML, #PN{
    font-weight: bold;
    margin-left: 10px;
}

/* To separate Job Reference Number label from the 
other labels like above */
#JRN{
    font-weight: bold;
}

/* Same like #JRN */
#OTTA{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 25px;
}

/* To ensure spaces between fieldsets and
other inputs */
fieldset{
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

/*styles for the submit button */
#submitbutton{
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* When we hover over the button, our cursor will become a pointer */
}

#submitbutton:hover {
    background-color: lightgreen;
}

/* same as submit button but we float it
to the right */
#resetbutton{
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}

#resetbutton:hover {
    background-color: lightgreen;
}


/* KANG JEN PART ABOUT.HTML */
/* ABOUT.HTML */
/* Styles for the h1 tags */
.formnapply{
    text-align: center;
    color: #333;
    font-weight: bold;
}

/* Style for the definition list (DT & DD) */
.groups dt {
    width: 150px; /* Common width for dt */
    float: left; /* float the definition term to the left */
    font-weight: bold;
}

.groups dd {
    margin-left: 160px; /* Adjust margin to accommodate dt width */
    display: block;
}


/* Style for the group details container */
.group-details {
    border: 1px solid black; /* Add border for container */
    border-radius: 5px; /* Add rounded corners */
    display: flex; /* Use flexbox for layout */
    overflow: hidden; /* Prevent child elements from overflowing */
    box-shadow: rgba(0, 0, 0, 0.9);
}

/* Style for the Definition List (Overall) */
.groups {
    padding: 20px; /* Add padding for the DL spacing around the border */
}

/* Style for the group photo */
.group-photo {
    padding: 20px; /* Add padding for the Pic spacing around the border */
}

.group-photo img {
    max-width: 100%; /* Set the maximum width to 100% of its container */
    float: right; /* Float the figure to the right */
    border-radius: 50%; /* The radius of the border is 50% well rounded */
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* A little bit of shadow around the border */
}

/* Styles for DL and the Image */
#content {
    background-color: #f8fafe;
    /* Change the Padding */
    padding: 0em 5em; /* Relative to the font size of the element, ensuring space between left and right containers */
    display: flex;
}
  
#left,#right {
    background-color: white;
    border: 1px solid lightgray;
    padding: 0.5rem; /* rem will set the font size relative to the browser base font-size, won't inherit from parents */
    flex: 1; /* Because of display flex, we can use flex so that the elements grow together with it */
    color: black;
}
  
#left{
    width: 50%;
    padding: 30px 0; /* Spacing for the DL words */
}
      
#left h1, img{
    text-align: center;
}

#right{
    width: 50%;
    padding: 30px 0; /* Spacing for the pic */
}
  
/* Responsive CSS for the DL and Image */
/* Base styles */
#content{
    flex-wrap: wrap; /* Wrap the elements around when resizing the page */
}
  
/* Media query for screens wider than 600px */
@media (min-width: 600px){
    #left, #right {
      width: 50%;
    }
}
  
  /* Media query for screens less than or equal to 600px */
@media (max-width: 600px){
    #left, #right {
      width: 100%;
    }
    .group-photo img {
      width: 100%;
      height: auto;
    }
}

/* Styles for the section that closes the group member section */
.group-info {
    display: flex;
    flex-wrap: wrap;
    width: 80%; /* Smaller size of the containers */
    margin: 0 auto; /* Top and bottom will be 0, left and right will be same size auto determine */
    padding-top: 20px;
}

/* Styles for the group members section */
.member {
    flex: 1 1 300px; /* 1 for grow and shrink, and 300px for the basis or length of the flexible border */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: lightskyblue;
}

/* Styles for the group member section h3 child elemets */
.member h3 {
    font-size: 1.2rem; 
    margin-bottom: 10px;
    font-weight: bold;
}

/* Same as above but for p child elemets */
.member p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Styles for the EMAIL ME link in the group members section */
.btn{
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;
    color:#000;
    padding: 10px 20px;
    border-radius: 5000px;
    transition: all 0.3s; /* combine all the property, 0.3 sfor all of it */
    display: inline-block; /* as a inline-level block container */
}

.btn:hover{
    transform: scale(1.15); /* The size of the EMIAL ME link when we hover over it */
    background-color: gold;
}

/* To align the Timetable text */
#jadual{
    text-align: center;
    color: #333;
    font-weight: bold;
}

/* Style for the timetable table */
#tables {
    width: 60%;
    margin: 20px auto; /* Center the table */
    border-collapse: collapse; /* Single line border */
}

#tables th, #tables td {
    border: 1px solid #333;
    padding: 10px; /* Spacing for the TH, TD elements */
    text-align: left;
    font-weight: bold; /* Bold headings */
    background-color: #ffff; /* Background color for table cells */
}

#tables tr th{
    background-color: #d3d3d3; 
    text-align: center;
}

/* Style for the contact email */
#contactemail {
    margin-top: 20px;
    text-align: center;
}

#contactemail a {
    color: darkblue;
    font-weight: bold; /* Bold email */
}

#contactemail a:hover {
    text-decoration: underline;
}










/*Gian Tze Ee CSS*/
/*section design*/

#MyCSS {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
background-image: url(../images/Blackground.jpg);
background-size: cover; 
background-repeat: no-repeat;
background-attachment: fixed; /*to fix the image into the page*/
}




/*Intro for the Curiosity of mind*/
.Intro {
  background-color: skyblue;
  border-radius: 8px;
  padding: 20px;
  width: 700px;
  height: 150px;
  margin: 10px 0px 0px 300px;
  }
  
  
  .Intro h2 {
  font-size: 30px;
  text-align: left;
  color: yellow; 
  font-weight: bold;
  
  font-family: sans-serif;
  
  }
  
  .Intro h3 {
  text-align: left;
  color: black; 
  font-size: 20px;
  font-family: monospace;
  }

  .Intro a {
    color: blue ;
      text-decoration: none;
    }
    .Intro a:hover {
      color: red;
      }
      



/*Job apply box*/
.JobA h1{
  border: 5px solid;
  border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
  border-image-slice: 1;
  background-color: white;
  width: 200px;
}

/*Job section*/
.position {
  background-color: darkcyan;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: inline-block;/* allows an element to flow inline with the text but also allows you to set its width, height, margins, and padding*/
  width: 25%; 
  margin: 30px; 
  
}

.position h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  color: yellow;
  font-family: monospace;
 
}


.position ul li {
  margin-left: 20px;
  font-family:'Times New Roman', Times, serif;
}

.position h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: red;
}

.position p{
  font-family: Arial, Helvetica, sans-serif;
}


/* CSS for button */
.BT {
  background-color: darkblue;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  overflow: visible;/* overflow specifies how content that overflows the content box of an element should be handled.*/
  padding: 10px 15px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  
  font-size: 1em;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 30px/100px;
  text-decoration: none;
  transition: all 0.3s ease-out;
  }


  .BT:hover {
    background: #06D85F;
  }
  
  .BT2 {
    background-color: orange;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    
    padding: 10px 15px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    
    font-size: 1em;
    color: #fff;
    border: 2px solid #06D85F;
    text-decoration: none;
    transition: all 0.3s ease-out;
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30%;
    animation: pulse 2s infinite;
    }
/*create the pulse effect*/
    @keyframes pulse{
      0% {
        box-shadow: 0 0 0 0 rgba(168, 63, 57, 0.4);
      }
      70% {
          box-shadow: 0 0 0 50px rgba(168, 63, 57, 0);
      }
      100% {
          box-shadow: 0 0 0 150px rgba(168, 63, 57, 0);
      }
    }
    .BT2:hover {
      background: #06D85F;
    }



/*pop up*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  }

  .overlay:target {
  visibility: visible;
  opacity: 1;
  }

.popup {
background-color: aqua;
margin: 70px auto;
padding: 20px;
border-radius: 5px;
width: 30%;
position: relative;

}


.popup .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;

}
.popup .close:hover {
color: #06D85F;
}
.popup .content {
max-height: 30%;
overflow: auto;
}
.popup h3{
font-weight: bold;
font-size: 30px;
}
.popup li{
font-size:20px;
}



/*main*/
.mainHead{
text-align: center;
color: black;
font-family: fantasy;
}





/*footer css*/
.bottom {
background-color: #333333;
color: #ffffff;
padding: 20px 0;
}

.map-container h1 {
 
color: aqua;
}

.containerCSS {
  width: 90%;
  margin: 30px;
  text-align: center; 
  display: flex;
}



.bottom p {
color: #cccccc;
}

.map-text h1 {
color: white;
margin-left: 10%;
margin-bottom: 10px;
}
.map-text h2 {
color: white;

margin-bottom: 10px;
}





/*Icon logos*/
.map-text a img {
border-radius: 50%; 
width: 50px; 
height: 50px; 
margin: 5px; 
}

.img_gmap{
max-height: 300px;
max-width: 70% !important;
}


.social_button{
display: inline-block !important;
}







